<div class="absolute opacity-100 z-30 space-y-6 flex flex-col items-center">
    <div
        class="w-[460px] p-6 py-8 rounded-3xl space-y-3 bg-gradient-to-bl from-indigo-700/20 to-indigo-200/20 backdrop-blur-sm shadow-xl"
    >
        <div class="chat chat-start">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img
                        alt="Tailwind CSS chat bubble component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                    />
                </div>
            </div>
            <div class="chat-header">
                Maria Santos
                <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble bg-zinc-200 text-zinc-800">Bom dia!</div>
        </div>
        <div class="chat chat-end">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img
                        alt="Tailwind CSS chat bubble component"
                        src="https://github.com/CarlosELSouza.png"
                    />
                </div>
            </div>
            <div class="chat-header">
                <time class="text-xs opacity-50">12:46</time>
            </div>
            <div class="chat-bubble bg-green-300 text-zinc-700">
                Bom dia! Como posso ajudar?
            </div>
            <div class="chat-footer opacity-50">Visto em 12:46</div>
        </div>
        <div class="chat chat-start">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img
                        alt="Tailwind CSS chat bubble component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                    />
                </div>
            </div>
            <div class="chat-header">
                Maria Santos
                <time class="text-xs opacity-50">12:47</time>
            </div>
            <div class="chat-bubble bg-zinc-200 text-zinc-800">
                Quais produtos vocês tem no catálogo?
            </div>
        </div>
    </div>

    <div
        class="w-[400px] border-[1px] border-indigo-500 p-6 rounded-3xl space-y-2 bg-gradient-to-bl from-indigo-700/20 to-indigo-200/20 backdrop-blur-sm shadow-2xl"
    >
        <div class="flex items-center justify-between">
            <p class="italic">ℹ️  Sugestão da IA: </p>
            <button class="btn btn-xs">Catálogo 📖</button>
        </div>

        <label class="input input-bordered flex items-center gap-2">
            <input
                type="text"
                class="grow"
                placeholder="Digite sua mensagem..."
            />
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-send-2 text-indigo-500"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z"
                ></path>
                <path d="M6.5 12h14.5"></path>
            </svg>
        </label>
    </div>
</div>
